Source: libpdl-opencv-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7), libcv-dev, libregexp-common-perl, pdl
Build-Depends-Indep: perl
Maintainer: Dima Kogan <dima@secretsauce.net>
Standards-Version: 3.9.1

Package: libpdl-opencv-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, pdl, libcv4 | libcv2.1 | libcv2.3, libregexp-common-perl
Description: PDL interface to OpenCV
 PDL::OpenCV is an interface module to allow OpenCV functions to be called from
 PDL
